@font-face {
  font-family: 'bruceForever';
  src: url(fonts/bruceForever.ttf);
}
* {
  padding: 0;
  font-family: 'bruceForever';
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#menu {
  position: absolute;
  flex-direction: column;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition-duration: 0.5s;
  /* background: url(https://i.pinimg.com/originals/74/43/a3/7443a31b6a19e5630b94a6538ff9bdd1.gif); */
  /* background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/An_exceptional_kind_of_unstable_node.gif/1200px-An_exceptional_kind_of_unstable_node.gif); */
  background: white;
  /* background-size: cover; */
}
#main-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.btn-control {
  padding: 10px 20px;
  width: 20%;
  color: white;
  background: black;
  border-radius: 5px;
  transition-duration: 0.2s;
}
.btn-control:hover {
  cursor: pointer;
  color: #f97300;
}
.btn-control:focus {
  outline: none;
  background-color: #f97300;
  color: white;
}
#title-game {
  font-size: 2.5em;
  margin-bottom: 1em;
  transition-duration: 0.2s;
}
.items {
  position: absolute;
  top: 1em;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1em;
  width: 100vw;
}
.items div {
  position: absolute;
  top: 1em;
  padding: 10px;
  border: 1px solid black;
}

.gold {
  right: 5em;
}
.back-icon {
  background: black;
  color: white;
  left: 5em;
  cursor: pointer;
}
.shop-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.shop-item .shop-item-image {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
}
.shop-item {
  background: white;
  padding: 10px;
  text-align: center;
  width: 20%;
  height: 270px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.shop-item-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: left;
}
.shop-item-price {
  color: #f97300;
}
.shop-item-button {
  background: white;
  padding: 1em 2em;
  border: 1px solid black;
}
.shop-item-button:hover {
  cursor: pointer;
  background: black;
  color: white;
}
@keyframes shake {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translate(2px);
  }
}
